/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #ccefff, #ebf5ff);
  color: #000000;             /* Black text */
  font-family: Arial, sans-serif;
  min-height: 100vh;

}
